body {
    background-image: url('https://images7.alphacoders.com/126/1261047.jpg');
}
button {
    font-size: 60px;
}
input {
    background-color: red;
}
h1 {
    color: yellow;
    font-size: 125px;
    position: relative;
}
h2 {
    color: red;
    font-size: 125px;
    position: relative;
}
h3 {
    font-size: 25px;
    color: blue;
}