body {
    background-image: url('https://images7.alphacoders.com/126/1261047.jpg');
}
button {
    font-size: 60px;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li ul.dropdown li {
display: block;
}
