{% extends 'style.html' %}
{% block body %}
<button type="button" class="button btn-danger offset-md-3">Agregar Nuevo Pokemon</button>
<div class="col-md" >
    <table class="table table-border table-stripped table-sm">
        <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Photo</td>
                    
                </tr>
        </thead>
        <tbody>
            {% for pokemons in pokemon %}
                <tr>
                    <td>
                        {{ pokemons.0 }}
                    </td>
                    <td>
                        {{ pokemons.1 }}
                    </td>
                    <td>
                        {{ pokemons.2 }}
                    </td>
                    
                </tr>
            {% endfor%}
        </tbody>
    </table>
</div>

{% endblock %}