{% extends 'style.html'%}
{% block body %}
<div class="card card-body">
    <form action="/new" method = "POST">
        <h3 class="form-group">Pokemon Id</h3>
        <div class="form-group"><input type="int" name="Id" placeholder="Pokemon Id" class="form-control"></div>
        <h3 class="form-group">Pokemon Name</h3>
        <div class="form-group"><input type="text" name="Name" placeholder="Pokemon Name" class="form-control"></div>
        <h3 class="form-group">Pokemon Type</h3>
        <div class="form-group">
            <select class="form-control">Pokemon Type
                <option value="1" name="TypeId">1.- Acero</option>
                <option value="2" name="TypeId">2.- Agua</option>
                <option value="3" name="TypeId">3.- Bicho</option>
                <option value="4" name="TypeId">4.- Dragón</option>
                <option value="5" name="TypeId">5.- Eléctrico</option>
                <option value="6" name="TypeId">6.- Fantasma</option>
                <option value="7" name="TypeId">7.- Fuego</option>
                <option value="8" name="TypeId">8.- Hada</option>
                <option value="9" name="TypeId">9.- Hielo</option>
                <option value="10" name="TypeId">10.- Lucha</option>
                <option value="11" name="TypeId">11.- Normal</option>
                <option value="12" name="TypeId">12.- Planta</option>
                <option value="13" name="TypeId">13.- Psíquico</option>
                <option value="14" name="TypeId">14.- Roca</option>
                <option value="15" name="TypeId">15.- Siniestro</option>
                <option value="16" name="TypeId">16.- Tierra</option>
                <option value="17" name="TypeId">17.- Veneno</option>
                <option value="18" name="TypeId">18.- Volador</option>
            </select>
        </div>
        <h3 class="form-group">Pokemon Region</h3>
        <div class="form-group">
            <select class="form-control">Pokemon Region
                <option value="1" name="RegionId">1.- Kanto</option>
                <option value="2" name="RegionId">2.- Johto</option>
                <option value="3" name="RegionId">3.- Hoenn</option>
                <option value="4" name="RegionId">4.- Sinnoh</option>
                <option value="5" name="RegionId">5.- Teselia</option>
                <option value="6" name="RegionId">6.- Kalos</option>
                <option value="7" name="RegionId">7.- Alola</option>
                <option value="8" name="RegionId">8.- Galar</option>
                <option value="9" name="RegionId">9.- Paldea</option>
            </select>
        </div>
        <h3 class="form-group">Pokemon Photo</h3>
        <form action="upload_file" method="POST" enctype="multipart/form-data">
            <input type="file" name="Imagen" multiple>
        </form>
        <h3 class="form-group">Pokemon Biology</h3>
        <div class="form-group"><input type="text" name="Biology" placeholder="Pokemon Biology" class="form-control"></div>
        <h3 class="form-group">Pokemon Etymology</h3>
        <div class="form-group"><input type="text" name="Etymology" placeholder="Pokemon Etymology" class="form-control"></div>
        <h3 class="form-group">Male Counterpart</h3>
        <form action="upload_file" method="POST" enctype="multipart/form-data">
            <input type="file" name="Male" multiple>
        </form>
        <h3 class="form-group">Female Counterpart</h3>
        <form action="upload_file" method="POST" enctype="multipart/form-data">
            <input type="file" name="Female" multiple>
        </form>
        <div class="form-group"><button type="submit" class="button btn-primary btn-block">Save</button></div>
    </form>
</div>
{% endblock %}